
/* Hide extra markup if js is not present */

.simple-switch .handle,
.simple-switch .false {
    display: none;
}

/* Checkbox styles for browsers that DO NOT have js enabled */

.no-js .simple-switch input[type=checkbox] {
    -webkit-appearance: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 1.5em;
    padding: 1.5em;
}
.no-js .simple-switch .label.true {
    display: inline-block;
    position: relative;
    top: -0.8em;
}

/* Checkbox styles for browsers that DO have js enabled */

.js .simple-switch {
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    overflow: hidden; /* This prevents the element from expanding to combined width of children */
    white-space: nowrap; /* This is forces inline children to stay all on one line */
    width: 125px; /* You need to tweak this depending on the size of the labels */
}
.js .simple-switch > .element {
    display: inline-block;
    left: 0px;
    position: relative;
}
.js .simple-switch > .element.label {
    padding: 8px 12px;
    width: 68px; /* You need to tweak this depending on the size of the labels */
}
.js .simple-switch > .element.label.false {
    text-align: right;
}
.js .simple-switch .element.handle {
    border-radius: 10px;
    display: absolute;
    height: 18px;
    margin: auto 4px;
    top: 3px;
    width: 18px;
}
.js .simple-switch.off > .element {
    left: -93px; /* You need to tweak this depending on the size of the labels */
}

/* COLORS (js and no-js) */

.no-js .simple-switch input[type=checkbox] {
    background-color: pink;
    border-color: gray;
}
.no-js .simple-switch input[type=checkbox]:checked {
    background-color: lightgreen;
}
.js .simple-switch {
    background-color: green;
    border-color: green;
}
.js .simple-switch .handle {
    background-color: lightgreen;
}
.js .simple-switch.off {
    background-color: red;
    border-color: red;
}
.js .simple-switch.off .handle {
    background-color: pink;
}
.js .simple-switch .label.true {
    background-color: lightgreen;
}
.js .simple-switch .label.false {
    background-color: pink;
}

/* ANIMATIONS */

.js .simple-switch,
.js .simple-switch .element {
    -moz-transition: left 100ms linear, border-color 200ms linear, background-color 200ms linear;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: left 100ms linear, border-color 200ms linear, background-color 200ms linear;
}
